[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = "==0.15"
python-docx = ">=0.8.0"
Sphinx = ">=3.0.0"

[dev-packages]
pytest = "==6.1.2"

[requires]
python_version = "3.6"
